@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
	@apply w-1 h-1;
}
::-webkit-scrollbar-track {
	@apply bg-transparent;
}
::-webkit-scrollbar-thumb {
	@apply dark:bg-primary-dark bg-primary-light cursor-pointer;
}
/* Main Shape 1 */
.custom-shape-divider-bottom-1647246727 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1647246727 svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 209px;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1647246727 svg {
        width: calc(181% + 1.3px);
        height: 209px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1647246727 svg {
        width: calc(191% + 1.3px);
        height: 210px;
    }
}